/* miscellaneous */

input {
    border: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    transform: scale(1.5);
    margin: 0px;
    border: 1px solid goldenrod;
}

#upper {
    border: 1px solid goldenrod;
    background-color: #e8e4e1;
    width: 500px;
    min-height: 250px;
}

#lower {
    background-color: #e8e4e1;
    border: 1px solid goldenrod;
    width: 500px;
}


/* title section */

#title-box {
    transition: all ease-in-out 0.2s;
    margin-bottom: 10px;
    background-color: #f08a5d;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#title-box:hover {
    background-color: #b83b5e;
}

#title-text1,
#title-text2 {
    transition: all ease-in-out 0.2s;
    font-size: 2rem !important;
    font-family: Impact;
    color: #3f3f44;
    position: relative;
    top: 19px;
}

#star {
    position: relative;
    left: 5px;
    top: 15px;
}


/* Buttons */

.add-btn {
    transition: all ease-in-out 0.2s;
    color: whitesmoke;
    border: none;
    min-width: 100px;
    height: 30px;
    background-color: #b83b5e;
    cursor: pointer;
}

#button-text {
    position: relative;
    top: -3px;
    left: -3px;
    font-family: sans-serif;
    font-weight: bold;
}

.add-btn:hover {
    box-shadow: 0px 0px 5px 4px #6a2c70;
    background-color: #f08a5d;
    /* color: #b83b5e; */
}

#del-btn {
    position: fixed;
    top: 93.5%;
    left: 37.5%;
    transition: all ease-in-out 0.2s;
    color: whitesmoke;
    border: none;
    height: 30px;
    background-color: #b83b5e;
    cursor: pointer;
}

#del-btn:hover {
    box-shadow: 0px 0px 5px 4px #6a2c70;
    background-color: #f08a5d;
    /* color: #b83b5e; */
}


/* font awesome classes */

.fa-plus {
    font-size: 1.25rem;
}

.fa-trash-o {
    font-size: 1.25rem;
    position: relative;
    top: 11px;
    left: 11px;
}


/* containers */

#task-container {
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
}

#select-container {
    /* border-bottom: 0px; */
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
}

#date-container {
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
}

#checkbox-container {
    position: relative;
    top: -16px;
}

#btn-container {
    width: 100%;
    height: 2%;
    position: relative;
    left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* form and inputs */

#form-input {
    border: 0px;
}

textarea {
    transition: all ease-in-out 0.2s;
    border: 0px;
    width: 100%;
    height: 70%;
    background-color: whitesmoke;
    resize: none;
}

textarea:hover {
    background-color: #f1ebbb;
    box-shadow: 0px 0px 3px 1px #f08a5d;
}

.container-heading {
    transition: all ease-in-out 0.2s;
    font-family: sans-serif;
    color: #6a2c70;
    font-weight: bolder;
}

.container-heading:hover {
    color: #b83b5e;
}

#drop-down {
    transition: all ease-in-out 0.2s;
    border: 0px;
    background-color: whitesmoke;
    width: 100%;
}

#drop-down:hover {
    background-color: #f1ebbb;
    box-shadow: 0px 0px 3px 1px #f08a5d;
}

#date-input {
    transition: all ease-in-out 0.2s;
    width: 100%;
    background-color: whitesmoke;
    /* height: 100%; */
}

#date-input:hover {
    box-shadow: 0px 0px 3px 1px #f08a5d;
    background-color: #f1ebbb;
}


/* list */

#list {
    /* border: 1px solid black; */
    margin: 0px;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    margin-bottom: 10%;
    border-bottom: 1px solid goldenrod;
}

li {
    border-radius: 3px;
    position: relative;
    left: -30px;
    margin-top: 5px;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid goldenrod;
    font-family: sans-serif;
    list-style: none;
    display: inline-block;
}

.list-category {
    position: relative;
    left: -10px;
    top: 2px;
    transition: all ease-in-out 0.5s;
    float: right;
    width: 90px;
    text-align: center;
    background-color: #924a99;
    border-radius: 3px;
}

.list-category:hover {
    box-shadow: 0px 0px 3px 4px #f08a5d;
}

#category-box-text {
    font-weight: bold;
    color: rgb(240, 224, 10);
    font-size: small;
}

#list-date {
    position: relative;
    top: 5px;
    display: inline-block;
    color: #b83b5e;
}

#list-task {
    display: inline-block;
    font-weight: bolder !important;
    color: #b83b5e;
}

#checkbox {
    display: inline-block;
}